<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist dashbboard</title>
    <link rel="stylesheet" href="../GMZ.css">
    <!-- <script defer src="dashboardjs.js"></script> -->
<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../View/GMZ.css">
    <!-- <script defer src="./View/loginjs.js"></script> -->
    <!-- <script defer src="./View/dashboardjs.js"></script> -->
    <title>Document</title>



    <header class="header">
    <img src="../resources/gomezlogo1.jpg" class="logo">
    <div class="navUnchange">
        <label class="menu">
<input type="checkbox" id="check" onclick="select2()"></label>
            
</div>
<script>
    function select2()
{if(document.getElementsByClassName("navbar")[0].style.display=="none"){
    document.getElementsByClassName("navbar")[0].style.display="flex";
}
else{
    document.getElementsByClassName("navbar")[0].style.display="none";
}
}
    
</script>
        <nav class="navbar" id="id">
        

            <a href="home.html" id="set1" class="unselected">Home</a>
            <a href="contactus.html" id="set1" class="unselected">Contact Us</a>
            <a href="../common/signup.php"><div class="selected"><font class="GMfont">Sign Up</font></div></a>
            <a href="../common/login.php"><div class="selected"><font class="GMfont">Log in</font></div>        </a>
        </nav>
    </header><br><br><br>

        <marquee behavior="" direction=""><h2>We are here to help </h2></marquee>
        <section >
        

            <div class="columns">
                <img src="../resources/gomezhospital.jpg" alt="gomezhospital" style="height:83%; width: 100%; border-radius: 10px;">
 
            </div>  
        <div class="columns">
            <article class="dashboard" style="margin-top: 10%;"> 
                <ul>
                
                    <li class="option"  style="background-color:#21519f"><img src="My%20dashbboard_files/TotalVisitorCount.png"><a style="font-size:6vh">Call us</a><br>0766414857 <br>0766654712<br><br></li>
                    <li class="option" style="background-color:#21519f"><img src="My%20dashbboard_files/PatientCount.png"><a style="font-size:6vh">Location</a><br>No,63, Avissawella, Sri Lanka<br><br></li>
                    <li class="option" style="background-color: #21519f;"><img src="My%20dashbboard_files/DoctorCount.png"><a style="font-size:6vh">Email</a><br>gomezhospital@gmail.com<br><br></li>
                    <li class="option" style="background-color: #21519f;"><img src="My%20dashbboard_files/NurseCount.png"><a style="font-size:6vh">Hours</a><br>Always open<br><br></li>
                </ul>
            </article>        
        </div>
        
    </section>
    

<!-- <section>
    <div class="columns" style="margin-left: 0%;">
        <article class="dashboard"> 
            <ul>
            
                <li class="option"><img src="My%20dashbboard_files/TotalVisitorCount.png"><a style="font-size:6vh">Call us</a><br>0766414857 <br>0766654712<br><br></li><br>
                <li class="option" style="background-color:#3ad3a0"><img src="My%20dashbboard_files/PatientCount.png"><a style="font-size:6vh">Location</a><br>No,63, Avissawella, Sri Lanka<br><br></li>
            </ul>
        </article> 
    </div>
    <div class="columns" style="margin-left: 20%;">
        <img src="resources/gomezhospital.jpg" alt="gomezhospital" style="height:60%; width: 50%; border-radius: 10px;">
    </div>
    <div class="columns">
        <article class="dashboard"> 
            <ul>
                <li class="option" style="background-color: #1e87c7;"><img src="My%20dashbboard_files/DoctorCount.png"><a style="font-size:6vh">Email</a><br>gomezhospital@gmail.com<br><br></li><br>
                <li class="option" style="background-color: #da952a;"><img src="My%20dashbboard_files/NurseCount.png"><a style="font-size:6vh">Hours</a><br>Always open<br><br></li>
            </ul>
        </article>    
    </div>
</section> -->

</a></body></html>