
.lay{
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
padding: 4% 11% 9% 11%;
border-radius: 8px;
margin: 0 auto;
display: flex;
text-align: left;
justify-content: left;
flex-direction: column;
background: var(--color-background-container, #fff);
width: max-content;
}
.logbutton{
display: flex;
flex-direction: row;
justify-content: center;
flex-shrink: 0;
color: var(--Gomez-White);
font-family: 'inter-bold';
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
flex-shrink: 0;
border-radius: 100px;
background: var(--Gomez-highlight);
position: relative;
padding-top: 5%;
padding-right: 10%;
padding-bottom: 5%;
padding-left: 10%;
filter: drop-shadow(3px 3px 7px --Gomez-Black);
width: max-content;
border-style: none;
box-shadow: 2px 2px 1px var(--Gomez-Black);

}
.hyperLink{
text-decoration:none;
}
    .header {
z-index: 100;
position: fixed;
top: 0%;
left: -1%
}
    .bodyhome{
/* background-image: url('../resources/home.jpg'); */
          background-size: cover; 
          background-repeat: no-repeat; 
}
.logo{
width: 10vw;
position: absolute;
top: 13px;
left:50px;
z-index: 2;
}
    .button1{
        width: 30%;
align-content: center;
margin-left: 36%;
background-color: white;
border: solid var(--Gomez-Purple);
    }
    .font1{
        display: flex;
height: 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--Gomez-Purple);
font-family: inter;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 10px;
    }
    .button1:hover .font1{
        /* color:white; */
        background-color: var(--Gomez-Purple);
        color:white;
    }
    .Welcome{
        text-align: center;
        color: white;
background-color: var(--Gomez-Purple);
padding-top: 17px;
margin: -4px 0px 0px -8px;
padding-bottom: 52px;
width: 102%;
    }
    .footer{
        background-color: var(--Gomez-Blue);
        margin: 0px -20px 0px -20px;
padding: 10px 10px;

    }
    .footer li{
        list-style-type: none;
        width: 190px;
    }
    .footer a{
        color:white;
        text-decoration: none;
    }
    .footer ul{
        margin-right: 46px;
    }
    .footer h3{
        color:white;
        margin-left: 14%;
    }
    .make{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        align-items: center;
        float: left;
        background-color:#f8f8f8;
    }
    .make label{
        margin-left: 10px;
    }
    .make input{
        width: 50%;
        height: 5vh;
    }
    .make select{
        height: 5vh;
        width: 51%;
    }
    .make .button1{
        margin-left: 5%;
    }
    .container{
        display: flex;
        width: 101%;
        
    }
    
    .signupform{
        background-color: darkblue;
    }
    .button1#reg{
        width: 100%;
    }
    .GMfont{
        font-family: inter;
    }
    .GMfont:hover{
        font-family: inter;

    }
    .images{
        display: flex;
gap: 100px;
padding-bottom: 100px;
padding-top: 50px;
justify-content: center;
font-family: inter;
padding-bottom: 34px;
padding-top: 79px;
    }
    .images img{
        width: 100px;
    }
    .holder{
        border: 2px solid var(--Gomez-Purple);
        border-radius: 5px;
    }
    .holder:focus-visible{
        outline-offset: 0px;
        outline-color: var(--Gomez-Purple);
    }
    .box-container{
        display: flex;
justify-content: center;
gap: 11%;
margin-left: 10%;
    }
    .footer li {
        line-height: 50px;
border-bottom: 0.1vh solid white;
    }
    .footer #contact li{
        font: status-bar;
    }
    .aboutus p{
        color: var(--light-color);
padding: 1rem 0;
font-size: 1.5rem;
line-height: 1.8;
    }
    .navbar {
/*padding:0.5rem 5%;*/
position: fixed;
box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
display: flex;
align-items: center;
background: #fff;
flex-direction: row;
justify-content: flex-end;
width: 101vw;
height: 9%;
}

.navbar.active {
transform: scale(1);
opacity: 1;
transition: .2s ease-out;
}

.navbar a {
width: 9.15%;
font-size: 0.9rem;
display: flexbox;
margin: 0.8rem;
text-decoration: none;
font-family: "inter";
color: var(--Gomez-highlight);
}
.column{
left: 10%;
display: block;
flex-wrap: wrap;
float: left;
width: 50%;
justify-content: center;
}
.logbutton .font1{
    color:white;
    padding: 7px 10px ;
}
.logbutton#make{
    color:black;
    padding: 1% 2% 1% 2%;
}
.logbutton#make1{
    padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 28%;
}
:root{
--Gomez-highlight:#0972ea;
--Gomez-Purple: #8693D1;
--Gomez-Blue:#174E95;
 /* #242c52; */
--Gomez-Pears: #eaf5e0;
--Gomez-Gray: #d9d9d9;
--Gomez-White: #fafafa;
--Gomez-Black: #050505;
--Gomez-Login-Box-Purple: linear-gradient(90deg, #FCFCFC 0%, #C3CAE8 96.67%);
--Gomez-Text-Box-Purple: linear-gradient(90deg, white, rgba(134, 147, 209, 1));
--Gomez-Brown: #948686;
--animation-timing:200ms ease-in-out;
--menu-height:calc(8px*3+6px*2);
}