<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashbboard</title>
    <link rel="stylesheet" href="../GMZ.css">
    <!-- <script defer src="dashboardjs.js"></script> -->
<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
<body>
    
    <aside class="sidenav">
        
        <div class="sidenavbarspace">
        
                <center>
                <img src="../resources/icon.png" alt="logo" class="logo1">
                <a href="appointment.php" style="text-decoration: none;">
                    <div class="sidebarunselected" id="unselect4">Appointments<br></div></a>
                <a href="treatment.php" style="text-decoration: none;">
                    <div class="sidebarunselected" id="unselect5"> Treatment<br></div></a>
                <a href="report.php" style="text-decoration: none;">
                    <div class="sidebarunselected" id="unselect6">Report<br></div></a>
                <a href="payment.php" style="text-decoration: none;">
                    <div class="sidebarunselected" id="unselect10">Payment<br></div></a>
                <a href="reminder.php" style="text-decoration: none;"> 
                    <div class="sidebarunselected" id="unselect3">Reminder<br></div></a>
                <a href="patient_detail.php" style="text-decoration: none;">
                    <div class="sidebarunselected" id="unselect10">User Info<br></div></a>
                </center>
        </div>
        
    </aside>





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./View/GMZ.css">
    <!-- <script defer src="./View/loginjs.js"></script> -->
    <!-- <script defer src="./View/dashboardjs.js"></script> -->
    <title>Document</title>



    <header class="header">
    <img src="../resources/gomezlogo1.jpg" class="logo">
    <div class="navUnchange">
        <label class="menu">
<input type="checkbox" id="check" onclick="select2()"></label>
            
</div>
<script>
    function select2()
{if(document.getElementsByClassName("navbar")[0].style.display=="none"){
    document.getElementsByClassName("navbar")[0].style.display="flex";
}
else{
    document.getElementsByClassName("navbar")[0].style.display="none";
}
}
    
</script>
        <nav class="navbar" id="id">
        

            <a href="../common/home.html" id="set1" class="unselected">Home</a>
            <a href="../common/contactus.html" id="set1" class="unselected">Contact Us</a>
            <a href="dashboard.html" id="set1" class="unselected">Dashboard</a><a href="logout.php"><div class="selected"><font class="GMfont">Log out</font></div>        </a></nav><a href="logout.php">
    </a></header><br><br><br>
    <section style="margin-left: 22%;">
        <div class="columns">
                <br>
                <h1><center>Hello Samar</center></h1>
                <h2 style="text-align: left;">Tips to be healthy</h2>
                <h3 style="text-align: left; color:cadetblue;">1)Get enough sleep</h3>
                <p style="text-align: justify;">Quality sleep is essential for your body to recover and rejuvenate. Aim for 7-9 hours of restful sleep each night. Establish a bedtime routine, create a comfortable sleep environment, and limit screen time before bed to ensure you wake up feeling refreshed.</p>
                <h3 style="text-align: left; color:cadetblue;">2)Regular Check-Ups and Preventive Care</h3>
                <p style="text-align: justify;">Don't skip your regular check-ups with healthcare professionals. These appointments are crucial for early detection of health issues and maintaining your well-being. Stay up-to-date with vaccinations, screenings, and preventive care recommendations.</p>


        </div>  
    <div class="columns">
        <img src="../resources/patient_dash.jpg" alt="" style="width: 101%;height: 93.1%;" >
    </div>
    
</section>

</a></body></html>