ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Segoe UI';
    background-color: #f2f2f2;
}

.details {
    background-color:beige;
    margin: 1%;
}

.redbutton {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0px 10px;
    height: 40px;
    width: 100px;
}

.bluebutton {
    background-color: white;
    color: blue;
    border: none;
    border-radius: 5px;
    cursor: hover;
    padding: 5px 10px;
    height: 40px;
    width: 100px;
    display: block;
    
}

.yellowbutton {
    background-color: #ffcc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    width: 100px;
}

.orangebutton {
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    width: 100px;
}

.card{
    border-radius: 27px;
    background:  beige;
    box-shadow:  5px 5px 10px  beige,
                -5px -5px 10px  beige;
    padding: 20px;
    color: black;
    font-weight:500;
    margin-top:2%;
    font-family: 'inter-bold';
    font-size: 15px;
    font-style: normal;
    
}