body{
  background-image:var(--Gomez-Login-Box-Purple);
}
    .complaint{
        margin-left: 1%;
    }
    .complaint tr{
        display: flex;
  flex-direction: row;
  align-content: center;
  gap: 85px;
  font-size: large;
  /* width: 795px; */
  background-color: beige;
  width: 679px;
  padding: 0% 52% 0% 59.5%;
  line-height: 7vh;
  border-radius: 8px;

    }
    .complainttext{
        margin-left: 28%;
  font-size: x-large;
  background-color: var(--Gomez-Blue);
  color: white;
  width: 66%;
  border-radius: 9px;
  padding: 1%;
  text-align: center;
  font-family: inter;
    }
    .complainttable{
        /* background-color: beige; */
  width: 70%;
  margin-left: 27%;
  padding: 8px 10px;
  border-radius: 9px;
  color: var(--Gomez-Blue);
  font-family: inter;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 0fr));
  gap: 1.5rem;
    }