body{
  background-image:var(--Gomez-Login-Box-Purple);
}
    .complaint{
        margin-left: 1%;
        
    }
    .complaint tr{
        display: flex;
  flex-direction: row;
  align-content: center;
  gap: 85px;
  font-size: large;
  /* width: 795px; */
  background-color: #fAfAfA;
  width: 679px;
  padding: 0% 52% 0% 59.5%;
  line-height: 7vh;
  border-radius: 0px;
  color: #174e95;

    }
    .complaint tr#header{
      position: fixed;
      padding: 0% 7.1% 0% 7.9%;margin: -1% 0%;
      background-color: #5998ff;
      color: white;

  }
  .complaint tr#header:hover{
    box-shadow:0;
  }
  .complaint tr:hover{
    box-shadow:1px 1px 1px #5998ff;
  }

    .complainttext{
        margin-left: 27.7%;
  font-size: x-large;
  background-color: var(--Gomez-Blue);
  color: white;
  width: 57.8%;
  border-radius: 9px;
  padding: 1%;
  text-align: center;
  font-family: inter;
    }
    .complainttable{
        /* background-color: beige; */
        overflow-y: scroll;
        scrollbar-width: none;
        
  width: 70%;
  margin-left: 27%;
  padding: 8px 10px;
  border-radius: 9px;
  color: var(--Gomez-Blue);
  font-family: inter;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 0fr));
  gap: 1.5rem;
    }

.complaintheader{
  margin-top: 0.7%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 85px;
    font-size: large;
    /* width: 795px; */
    color: var(--Gomez-Blue);
    background-color: beige ;
    width: 679px;
    padding: 0% 34.3% 0 8%;;
    line-height: 7vh;
    border-radius: 8px;
    font-family: inter;
    margin-left: 27.8%;
}
.d{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.search{
  
  padding: 6%;
  text-align: left;
  font-size: 20px;
}
.searchbox{
  border-radius: 15px; 
  height:145%;
  
}
