*::after,
* ::before {
    box-sizing: border-box;
}
form {
    flex-shrink: 0;
    text-align: left;
    
}
.signup_image {
    width: 250px;
    height: 250px;
    margin: 20%;
    max-width: 80%;
    position: relative;
    justify-content: center;
}

.body1 {
    background: var(--Gomez-Blue);
    font-family: 'inter';
}
.bodyhome{
    background-image: url('../photos/home.jpg');
              background-size: cover; 
              background-repeat: no-repeat; 
  }

body {
    
    text-align: center;
    background-image: var(--Gomez-Text-Box-Purple);
    font-family: 'inter';
}

.login {
    border-radius: 4px;
    background-color: var(--Gomez-Gray);
    border: 0.5px solid;
    height: 42px;
}

.lay {
    width: 50%;
    position: relative;
    background-image: var(--Gomez-Login-Box-Purple);
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
    padding-left: 8%;
    padding-top: 0%;
    padding-bottom: 11%;
    padding-right: 8%;
    border-color: rgba(255, 255, 255, 0.51);
    margin: 0.3rem;
}


h1 {
    font-size: 40px;
    margin-bottom: 0%;
}


label {
    font-size: 20px;
        
}

label,a{
    margin-bottom: -1%;
}
.hyperLink {
    text-decoration: none;
    color: blue;
    display: flex;
    flex-direction: row;
    
}

.email{
    opacity: 0.0;
    padding-bottom: 5%;
}


.emailOpen{
    padding-top: 5%;
    padding-bottom: 5%;
}

.navbar {
    /*padding:0.5rem 5%;*/
    position: fixed;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    background: #fff;
    flex-direction: row;
    justify-content: flex-end;
    width: 101vw;
    height: 9%;
}

.navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: .2s ease-out;
}

.navbar a {
    width: 9.15%;
    font-size: 12px;
    display: flexbox;
    margin: 0.8rem;
    text-decoration: none;
    font-family: "inter";
}

.selected {
    flex-shrink: 0;
    border-radius: 4px;
    background: #8693D1;
    position: relative;
}

a .GMfont {
    display: flex;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'inter-bold';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.NSGMfont {
    font-size: 12px;
    display: block;
    margin: 2.5rem;
    text-decoration: none;
    font-family: "inter";
}


@font-face {
    font-family: 'inter-black';
    src: url(Inter/static/Inter-Black.ttf);
    font-family: 'inter';
    src: url(Inter/static/Inter-Regular.ttf);
    font-family: 'inter-medium';
    src: url(Inter/static/Inter-Medium.ttf);
    font-family: 'inter-bold';
    src: url(Inter/static/Inter-Bold.ttf);
}

header {
    z-index: 100;
    position: fixed;
    top: 0%;
    left: -1%
}

.selected1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Gomez-Blue);
    position: relative;
    padding: 5%;
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.25));
}

.logbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Gomez-White);
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Gomez-Blue);
    position: relative;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    filter: drop-shadow(3px 3px 7px --Gomez-Black);
    width: 100%;
}
ol{
  /*number nothing*/
  list-style-type: none;
}
.d{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.m{
    width: 19%;
    padding: 5%;
    text-align: left;
    font-size: 20px;
}
.search{
    
    padding: 6%;
    text-align: left;
    font-size: 20px;
}
.searchbox{
    border-radius: 15px; 
    height:190%;
    
}
.sidenav {
    position: relative;
    width: 22%;
    height: 92.8%;
    position: fixed;
    z-index: 0;
    top: 8.3%;
    left: 0;
    background-color:var(--Gomez-Blue); 
    color:var(--Gomez-Purple);
    overflow-x: hidden; 
    padding-top: 20px;
  }
  .sidenavbuttons{
    bottom: 100px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; ;
  }


  .selected{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--Gomez-Pears);
    min-width: 113px;
    /* margin-left: -0.8rem; */
  }

  ::-webkit-scrollbar{
    width: 20%;
  }
  /* .column{
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 50%;
    justify-content: center;
  } */
  .columns{
    left: 10%;
    display: block;
    flex-wrap: wrap;
    float: left;
    width: 50%;
    justify-content: center;
  }
  .row::after{
    content: "";
    display: table;
    clear: both;
  }

  .logo{
  width: 10vw;
position: absolute;
  top: 13px;
  left:50px;
  z-index: 2;
  }
  
  
:root{
    --Gomez-highlight:#0972ea;
    --Gomez-Purple: #8693D1;
    --Gomez-Blue: #242c52;
    --Gomez-Pears: #eaf5e0;
    --Gomez-Gray: #d9d9d9;
    --Gomez-White: #fafafa;
    --Gomez-Black: #050505;
    --Gomez-Login-Box-Purple: linear-gradient(90deg, #FCFCFC 0%, #C3CAE8 96.67%);
    --Gomez-Text-Box-Purple: linear-gradient(90deg, white, rgba(134, 147, 209, 1));
    --Gomez-Brown: #948686;
    --animation-timing:200ms ease-in-out;
    --menu-height:calc(8px*3+6px*2);
}

.sidebarselected{
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:var(--Gomez-Pears);
    background-color: var(--Gomez-Brown);
    border-radius: 10px;
    margin-bottom: 8%;
    width: 90%;
}
.sidebarunselected{
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:var(--Gomez-Pears);
    border-radius: 10px;
    margin-bottom: 8%;
    width: 90%;
}
.sidebarunselected:hover{
    cursor: pointer;
    background-color: var(--Gomez-Brown);
    width: 90%;
}
.logo1{
    margin-top: 0%;
    width: 10vw;
    margin-bottom: 5%;
    }
.unselected:hover{
    cursor: pointer;
    position: relative;
    display: flex;
    height: 20px;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: inter-bold;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    background: rgb(134, 147, 209);
}

/* .dashboard ul{
    display: grid;
    font-size: 30px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
    
}

.dashboard  li{
    background-color: var(--Gomez-Purple);
    font-family: 'inter-bold';
    padding: 5%;
    text-decoration: none;
    list-style-type: none;
    border-radius: 14px;
    color: var(--Gomez-White);
}

.dashboard{
    margin-top:7%;
    display: grid;
    margin-left: 20%;
} */
.menu::before,
.menu::after,
.menu input{
    content: "";
    width: 37px;
    height: 8px;
    gap:6px;
    background-color: #bbb;
    border-radius: 99999px;
    transform-origin: right center;
    transition: opacity var(--animation-timing),width var(--animation-timing),translate var(--animation-timing),rotate var(--animation-timing);
}
.menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.menu{
    top:0%;
    --x-width: calc(var(--menu-height)*1.4142135637);
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-left:9%;
    z-index : 2;
    cursor: pointer;
}

.menu input:checked{
    opacity: 0;
    width: 0;
}

.menu:has(input:checked)::before{
    rotate:-45deg;
    width: 37px;
}
.menu input:checked::after{
    rotate:45deg;
    width: 37px;
}

.menu input:checked + .navbar{
    display: flex;

}

@media screen and (max-width: 769px) {
    .row {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }
    .navbar{
        top: 9%;
        flex-direction: column;
        height: max-content;
        z-index: -1;
        gap: 0.9rem;
        display: none;
    }
    .selected{
        width: 100%;
        height: max-content;
        border: solid;
    }
    .unselected{
        width: 100%;
        height: max-content;
        border: solid;
    }
    .navbar a{
        width: fit-content;
    }
    .lay{
        width: max-content;
    }
    body{
        scroll-behavior: auto;
        height: max-content;
       
    }
    .hyperLink{
        flex-direction: column;
    justify-content: center;
    color:var(--Gomez-highlight);
    }
    .login{
        height: 26px;
    }
    .column{
        width: 100%;
    }
    .signup_image{
        margin-top: 22%;
        margin-bottom: 2%;
        left: 0%;
    }
    .logo{
        position: absolute;
        width: 20vw;
        height: 5vh;
        z-index: 2;
    }
    .menu{
        display: flex;
    position: absolute;
    top: 2.6vh;
    left: 76vw;
    }
    body{
        overflow: scroll;
    }
}
@media screen and (max-width: 450px) {
    body{
        overflow: scroll;
    }
    .signup_image{
        height: 200px;
        width: 200px;
        margin-top: 32%;
    }
}

@media screen and (max-width: 280px) {
    body{
        overflow: scroll;
    }
    .signup_image{
        height: 150px;
        width: 150px;
        margin-top: 32%;
    }
    .dashboard{
        margin-left: -16%;
    }
    .selected{
        display: none ;
    }
    .unselected{
        display: none;
    }
    .menu:has(input:checked) + .navbar{
        translate: 0;
    }
}

.navUnchange{
    position: fixed;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    background: #fff;
    flex-direction: row;
    justify-content: flex-end;
    width: 141vw;
    height: 9%;
    z-index: 0;
}

.unselected{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 90px;
    padding: 10px;
}

/* .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */
.box {
    width: 718px;
    height: 356px;
    
  }
  
  .box .rectangle {
    position: fixed;
    width: 718px;
    height: 356px;
    top: 0;
    left: 0;
    background-color: var(--Gomez-White);
    border-radius: 24px;
    box-shadow: 7px 7px 14px #00000040;
    backdrop-filter: blur(209px) brightness(100%);
    
  }
  /* Styling for the popup */
.titlebox{
  font-size: 28px;
  width: 70%; 
  padding: 10px;
  text-align: center;
  background:var(--Gomez-Blue);
  color:var(--Gomez-White);
}
table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    
    padding: 8px;
    text-align: left;
    
}


th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    
}
.button{
    height: 31px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'inter-bold';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  background-color: var(--Gomez-Purple);
  border-style: hidden;
  border-radius: 6px;
}
.option{
    background-color: var(--Gomez-Purple);
    font-family: 'inter-bold';
    border-radius: 14px;
    color: var(--Gomez-White);
    font-size: 30px;
}
.dashboard ul{
    display: grid;
    font-size: 30px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
    
}
.dashboard ul li{
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
    list-style-type: none;
}
.dashboard{
    margin-top:3%;
    display: block;
    margin-right: 3%
}