
form {
    flex-shrink: 0;
    
}
.signup_image {
    width: 250px;
    height: 250px;
    margin: 20%;
    max-width: 80%;
    position: relative;
    justify-content: center;
}

.body1 {
    background: var(--Gomez-Blue);
    font-family: 'inter';
}

body {
    
    text-align: center;
    background-image: var(--Gomez-Text-Box-Purple);
    font-family: 'inter';
}

.login {
    border-radius: 4px;
    background-color: var(--Gomez-Gray);
    border: 0.5px solid;
    height: 42px;
}

.lay {
    width: 50%;
    position: relative;
    
    background-image: var(--Gomez-Login-Box-Purple);
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
    padding-left:8% ;
    padding-top:0% ;
    padding-bottom: 20%;
    padding-right:8% ;
    
    border-color: rgba(255, 255, 255, 0.51);
}


h1 {
    font-size: 40px;
    margin-bottom: 0%;
}

label {
    font-size: 20px;
        
}

label,a{
    margin-bottom: 8%;
}
.hyperLink {
    text-decoration: none;
    color: blue;
    display: flex;
    flex-direction: row;
    
}

.email{
    opacity: 0.0;
    padding-bottom: 5%;
}


.emailOpen{
    padding-top: 5%;
    padding-bottom: 5%;
}

.navbar {
    /*padding:0.5rem 5%;*/
    position: fixed;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    background: #fff;
    flex-direction: row;
    justify-content: flex-end;
    width: 101vw;
    height: 9%;
}

.navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: .2s ease-out;
}

.navbar a {
    width: 9.15%;
    font-size: 12px;
    display: flexbox;
    margin: 0.8rem;
    text-decoration: none;
    font-family: "inter";
}

.selected {
    flex-shrink: 0;
    border-radius: 4px;
    background: #8693D1;
    position: relative;
}

a .GMfont {
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.NSGMfont {
    font-size: 12px;
    display: block;
    margin: 2.5rem;
    text-decoration: none;
    font-family: "inter";
}


@font-face {
    font-family: 'inter-black';
    src: url(Inter/static/Inter-Black.ttf);
    font-family: 'inter';
    src: url(Inter/static/Inter-Regular.ttf);
    font-family: 'inter-medium';
    src: url(Inter/static/Inter-Medium.ttf);
    font-family: 'inter-bold';
    src: url(Inter/static/Inter-Bold.ttf);
}

header {
    z-index: 100;
    position: fixed;
    top: 0%;
    left: 0%
}

.selected1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Gomez-Blue);
    position: relative;
    padding: 5%;
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.25));
}

.logbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Gomez-White);
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Gomez-Blue);
    position: relative;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    filter: drop-shadow(3px 3px 7px --Gomez-Black);
    width: 100%;
}
ol{
  /*number nothing*/
  list-style-type: none;
}
.d{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.m{
    padding: 5%;
}
.sidenav {
    position: relative;
    width: 19%;
    height: 92.8%;
    position: fixed;
    z-index: 0;
    top: 8.3%;
    left: 0;
    background-color:var(--Gomez-Blue); 
    color:var(--Gomez-Purple);
    overflow-x: hidden; 
    padding-top: 20px;
  }
  .sidenavbuttons{
    bottom: 100px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; ;
    
  }

  .sidenavbarspace{
    padding-top: 50%;
  }

  .selected{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:var(--Gomez-Pears);
    min-width: 90px;
    margin-left: -0.8rem;
  }

  ::-webkit-scrollbar{
    width: 20%;
  }
  .column{
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 50%;
    justify-content: center;
  }

  .row::after{
    content: "";
    display: table;
    clear: both;
  }

  .logo{
  width: 10vw;
position: absolute;
  top: 13px;
  left:50px;
  }
  
  @media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }
    .navbar{
        flex-direction: column;
    }
    .selected{
        width: 100%;
        height: max-content;
    }
    .navbar a{
        width: fit-content;
    }
    .lay{
        width: max-content;
    }
    body{
        scroll-behavior: auto;
        height: max-content;
       
    }
    .hyperLink{
        flex-direction: column;
    justify-content: center;
    color:var(--Gomez-highlight);
    }
    .login{
        height: 26px;
    }
    .column{
        width: 100%;
    }
    .signup_image{
        margin-top: 22%;
        margin-bottom: 2%;
        left: 0%;
    }
    .logo{
        position: inherit;
    }
    body{
        overflow: scroll;
    }
  }

@media screen and (max-width: 450px) {
    body{
        overflow: scroll;
    }
    .signup_image{
        height: 200px;
        width: 200px;
        margin-top: 32%;
    }
}

@media screen and (max-width: 280px) {
    body{
        overflow: scroll;
    }
    .signup_image{
        height: 150px;
        width: 150px;
        margin-top: 32%;
    }
}

:root{
    --Gomez-highlight:#0972ea;
    --Gomez-Purple: #8693D1;
    --Gomez-Blue: #242c52;
    --Gomez-Pears: #eaf5e0;
    --Gomez-Gray: #d9d9d9;
    --Gomez-White: #fafafa;
    --Gomez-Black: #050505;
    --Gomez-Login-Box-Purple: linear-gradient(90deg, #FCFCFC 0%, #C3CAE8 96.67%);
    --Gomez-Text-Box-Purple: linear-gradient(90deg, white, rgba(134, 147, 209, 1));
    --Gomez-Brown: #948686;
}

.sidebarselected{
    padding-bottom: 8%;
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:var(--Gomez-Pears);
    background-color: var(--Gomez-Brown);
    border-radius: 10px;
    margin-bottom: 8%;
}
.sidebarunselected{
    padding-bottom: 8%;
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:var(--Gomez-Pears);
    border-radius: 10px;
    margin-bottom: 8%;
}
.sidebarunselected:hover{
    cursor: pointer;
    background-color: var(--Gomez-Brown);
}
.logo1{
    margin-top: -35%;
    width: 10vw;
    margin-bottom: 5%;
    }
.unselected:hover{
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 4px;
    background: #8693D1;
    position: relative;
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'inter-bold';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px
}
